body{
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

header{
    background-color: lightblue;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    height: auto;
    padding: 20px;
}

#typing-area{
    width: 100%;
    height: 200px;
    resize: none;
    margin: 0;
    padding: 0;
    border: none;
    text-align: right;    
    font-family: 'Arial';
    font-weight: bolder;
    font-size: 80px;
    padding-top: 50px;
}

#typing-area::placeholder{
    color: #999999a2;
}

#numeric-pad{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1px;
    background-color: #99999962;
    border-style: solid;
    border-width: 1px;
    border-color: #99999962;
    
}

#numeric-pad div{
    color: #000000;
    font-family: 'Arial';
    font-weight: bold;
    background: #ffffff;
    padding: 30px;
}

#numeric-pad div:hover{
    background: #999999;
    cursor: pointer;
}

#numeric-pad #finish{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0;
}

#numeric-pad #equal{
    background: #add8e6;
}

#numeric-pad #equal:hover{
    background: #5bcaf0;
}
